{
  "openapi": "3.1.0",
  "info": {
    "title": "xCloud Agent Skills — API Reference",
    "version": "3.0.0",
    "description": "The **xCloud agent skills** let any AI agent (Claude Code, OpenCode, and others)\noperate xCloud in plain language — *\"reboot my Hermes server\"*, *\"renew SSL for\nexample.com\"*, *\"scan example.com for vulnerabilities\"*. Under the hood every\nskill calls this **xCloud Public API**.\n\nThis reference documents the API surface those skills cover, grouped by skill.\nYou normally never call it by hand — you talk to the agent. It's here so you can\nsee exactly what each skill can do, what scope it needs, and what each request\ntakes.\n\n> **Skills repo:** <https://github.com/xCloudDev/xcloud-agent-skills>\n> **User guide:** <https://github.com/xCloudDev/xcloud-agent-skills/blob/main/docs/USER_GUIDE.md>\n> **Install & call reference:** <https://github.com/xCloudDev/xcloud-agent-skills/blob/main/docs/SKILLS-GUIDE.md>\n\n## Install in Claude Code\n\n1. **Install the plugin:**\n\n   ```\n   /plugin marketplace add xCloudDev/xcloud-agent-skills\n   /plugin install xcloud\n   /reload-plugins\n   ```\n\n2. **Add your API token.** Get one from the xCloud dashboard → **Profile → API\n   Tokens → Generate New Token** (copy it once). Then add to\n   `~/.claude/settings.json`:\n\n   ```json\n   { \"env\": { \"XCLOUD_API_TOKEN\": \"your-token-here\" } }\n   ```\n\n   Restart Claude Code so it picks up the token.\n\n3. **Check it works.** Ask Claude: *\"Check my xCloud API connection.\"* Green\n   light = you're ready.\n\nThat's it — everything below is just talking to Claude.\n\n## The five skills\n\n| Skill | Owns |\n|---|---|\n| `xcloud:servers` | Servers, PHP, databases, cron, firewall/fail2ban, sudo users, WordPress provisioning |\n| `xcloud:sites` | Site lifecycle: status, backups, domains, cache, SSH, site cron, git |\n| `xcloud:wordpress` | WP plugins/themes/updates, WP_DEBUG, magic login, vulnerabilities, PageSpeed |\n| `xcloud:ssl` | SSL certificates: view, install, renew, status, delete |\n| `xcloud:account` | Current user, API tokens, Cloudflare integrations, blueprints, health |\n\n## Example requests\n\nYou don't name skills or endpoints — you describe what you want in plain\nlanguage and Claude picks the right skill and chains the steps.\n\n**One-liners:**\n\n- *\"List my xCloud servers.\"*\n- *\"Is example.com up right now?\"*\n- *\"Renew the SSL certificate for shop.example.com.\"*\n- *\"Update all plugins on example.com, but back up first.\"*\n- *\"Scan example.com for vulnerabilities and show me the critical ones.\"*\n- *\"Something's hammering my server from 203.0.113.7 — block it.\"*\n\n**Multi-step workflows** (each is a single request — Claude does the chaining):\n\n- **Monday-morning health audit** — *\"Audit example.com — is it up, is SSL\n  healthy, any vulnerabilities, and how's performance?\"*\n  Checks the site is serving, inspects SSL expiry, runs a vulnerability scan, and\n  runs a PageSpeed scan, then returns one summary.\n\n- **Safe WordPress update** — *\"WooCommerce has an update — apply it to\n  example.com, but back up first and tell me if anything looks off.\"*\n  Takes a labelled backup and waits for it, applies the update, then confirms the\n  site is still healthy. Follow up with *\"restore the backup you just took\"* to\n  roll back.\n\n- **New site go-live** — *\"I just provisioned shop.example.com — set up HTTPS and\n  confirm it's serving.\"*\n  Installs a Let's Encrypt certificate, waits for issuance, verifies HTTPS, and\n  runs a baseline PageSpeed scan.\n\n- **Triage a site that's down** — *\"example.com is throwing 502 errors — what's\n  going on?\"*\n  Pulls site status, recent events, and SSH/user config to spot the usual\n  culprits (stopped service, missing OS user, failed deploy).\n\n> If Claude ever reaches for the wrong area, name it:\n> *\"Using xcloud:ssl, renew the cert for example.com.\"*\n\n## Authentication\n\nThe API uses [Sanctum personal access tokens](https://laravel.com/docs/sanctum)\nsent as a Bearer token:\n\n```\nAuthorization: Bearer <XCLOUD_API_TOKEN>\n```\n\nGenerate one in the xCloud dashboard → **Profile → API Tokens → Generate New\nToken**, choosing scopes (`read:sites`, `write:sites`, `read:servers`,\n`write:servers`, or `*`). It's shown once — copy it immediately.\n\nScopes are coarse; each request also passes a per-resource policy check. A\n**403** with a valid token means a missing team permission (e.g.\n`site:manage-ssl` for SSL renewal), not a bad token. A **401** means the token\nis missing, expired, or revoked.\n\n## Response envelope\n\nEvery response uses the same wrapper:\n\n```json\n{ \"success\": true, \"message\": \"Success\", \"data\": {} }\n```\n\nOn error, `success` is `false` and `message` carries the reason; the HTTP\nstatus is authoritative.\n\n## Pagination\n\nList endpoints return **either** shape — inspect before assuming:\n\n- `data.items` + `data.pagination` (most live endpoints)\n- `data.data` + `data.meta` (some examples)\n\nMax **100** per page.\n\n## Rate limits & async writes\n\nAuthenticated callers get **60 req/min** (10 unauthenticated). A **429** returns\n`Retry-After` — honor it. Writes often return success immediately while work\ncontinues; poll the matching read endpoint (status / events / tasks) to confirm\ncompletion.",
    "contact": {
      "name": "xCloud",
      "url": "https://xcloud.host/support"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/xCloudDev/xcloud-agent-skills/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://app.xcloud.host/api/v1",
      "description": "Live"
    },
    {
      "url": "http://xcloud.test/api/v1",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Servers",
      "description": "Inspect servers, monitoring, services, tasks, snapshots, reboot, and WordPress provisioning."
    },
    {
      "name": "Server PHP",
      "description": "Install, default, OPcache, and patch PHP versions on a server."
    },
    {
      "name": "Server Cron",
      "description": "Server-level cron jobs: list, create, update, delete, run, and read output."
    },
    {
      "name": "Databases",
      "description": "Databases and database users on a server."
    },
    {
      "name": "Firewall & fail2ban",
      "description": "Firewall rules, fail2ban bans, SSH restriction, and IP whitelisting."
    },
    {
      "name": "Sudo Users",
      "description": "OS-level privileged (sudo) accounts on a server."
    },
    {
      "name": "Sites",
      "description": "Site lifecycle: status, events, logs, monitoring, rescue, and config reads."
    },
    {
      "name": "Backups",
      "description": "Trigger and inspect site backups."
    },
    {
      "name": "Domains",
      "description": "Primary domain, all domains, redirections, and web rules (reads)."
    },
    {
      "name": "Cache",
      "description": "Cache settings and purging."
    },
    {
      "name": "SSH",
      "description": "SSH/SFTP authentication config and keys."
    },
    {
      "name": "Site Cron",
      "description": "Site-level cron jobs (run as the site user)."
    },
    {
      "name": "WordPress",
      "description": "Plugins, themes, updates, WP_DEBUG, and magic login."
    },
    {
      "name": "Vulnerabilities",
      "description": "Vulnerability findings, counts, rescans, and ignore management."
    },
    {
      "name": "PageSpeed",
      "description": "PageSpeed Insights snapshots, history, and scans."
    },
    {
      "name": "SSL",
      "description": "SSL certificates: view, install, renew, status, and delete."
    },
    {
      "name": "Account",
      "description": "Identity, API tokens, Cloudflare integrations, blueprints, and health."
    }
  ],
  "x-tagGroups": [
    {
      "name": "xcloud:servers",
      "tags": [
        "Servers",
        "Server PHP",
        "Server Cron",
        "Databases",
        "Firewall & fail2ban",
        "Sudo Users"
      ]
    },
    {
      "name": "xcloud:sites",
      "tags": [
        "Sites",
        "Backups",
        "Domains",
        "Cache",
        "SSH",
        "Site Cron"
      ]
    },
    {
      "name": "xcloud:wordpress",
      "tags": [
        "WordPress",
        "Vulnerabilities",
        "PageSpeed"
      ]
    },
    {
      "name": "xcloud:ssl",
      "tags": [
        "SSL"
      ]
    },
    {
      "name": "xcloud:account",
      "tags": [
        "Account"
      ]
    }
  ],
  "paths": {
    "/servers": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "List servers",
        "description": "Returns all servers on the team. Plain language: 'show me my servers', 'list all servers'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers",
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Items per page (max 100).",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "Get server",
        "description": "Fetch a single server's details by UUID. Plain language: 'show me this server', 'get server details'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/sites": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "List sites on server",
        "description": "Lists the sites hosted on a given server. Plain language: 'what sites are on this server'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_sites",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Items per page (max 100).",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/monitoring": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "Get server monitoring",
        "description": "Returns current monitoring metrics (CPU, memory, disk) for the server. Plain language: 'how is this server doing', 'server stats'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_monitoring",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/monitoring/history": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "Get server monitoring history",
        "description": "Returns historical monitoring metrics for the server over time. Plain language: 'server usage over time', 'monitoring history'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_monitoring_history",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/services": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "List server services",
        "description": "Lists the running services on a server (nginx, mysql, etc.). Plain language: 'what services are running'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_services",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/services/restart": {
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Restart a service",
        "description": "Restarts a named service on the server (async). Plain language: 'restart nginx', 'restart mysql'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_services_restart",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "service": {
                    "type": "string",
                    "description": "service name e.g. nginx (required)"
                  }
                },
                "required": [
                  "service"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/tasks": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "List recent server tasks",
        "description": "Returns recent async tasks for a server; used to confirm progress after any async write. Plain language: 'what's happening on this server', 'check task progress'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_tasks",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/snapshots": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "List server snapshots",
        "description": "Lists snapshots taken of the server. Plain language: 'show server snapshots'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_snapshots",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/supervisor-processes": {
      "get": {
        "tags": [
          "Servers"
        ],
        "summary": "List supervisor processes",
        "description": "Lists Supervisor-managed processes on the server. Plain language: 'show supervisor workers'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_supervisor_processes",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/reboot": {
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Reboot server",
        "description": "Reboots the server (async — poll tasks afterward). Plain language: 'reboot the server', 'restart this server'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_reboot",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/sites/wordpress": {
      "post": {
        "tags": [
          "Servers"
        ],
        "summary": "Create WordPress site on server",
        "description": "Provisions a new WordPress site on the server. Live mode needs domain + ssl; omit domain for demo. blueprint_uuid and snapshot_uuid are mutually exclusive; auto-generated credentials returned only once. Plain language: 'spin up a WordPress site on this server'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_sites_wordpress",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "description": "live|demo"
                  },
                  "domain": {
                    "type": "string",
                    "description": "required for live mode, omit for demo"
                  },
                  "title": {
                    "type": "string",
                    "description": "site title"
                  },
                  "php_version": {
                    "type": "string",
                    "description": "e.g. 8.2"
                  },
                  "ssl": {
                    "type": "object",
                    "description": "e.g. {provider: letsencrypt}, required for live"
                  },
                  "cache": {
                    "type": "object",
                    "description": "e.g. {full_page: bool, object_cache: bool}"
                  },
                  "blueprint_uuid": {
                    "type": "string",
                    "description": "mutually exclusive with snapshot_uuid"
                  },
                  "snapshot_uuid": {
                    "type": "string",
                    "description": "mutually exclusive with blueprint_uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/php-versions": {
      "get": {
        "tags": [
          "Server PHP"
        ],
        "summary": "List installed PHP versions",
        "description": "Lists PHP versions installed on the server. Plain language: 'what PHP versions are installed'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_php_versions",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Server PHP"
        ],
        "summary": "Install PHP version",
        "description": "Installs a PHP version on the server (async — confirm via tasks). Plain language: 'install PHP 8.3'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_php_versions",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "php_version": {
                    "type": "string",
                    "description": "e.g. 8.3 (required)"
                  }
                },
                "required": [
                  "php_version"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Server PHP"
        ],
        "summary": "Uninstall PHP version",
        "description": "Uninstalls a PHP version from the server. Plain language: 'remove PHP 8.1'.\n\n**Scope:** `write:servers`",
        "operationId": "deleteservers_uuid_php_versions",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "php_version": {
                    "type": "string",
                    "description": "e.g. 8.1 (required)"
                  }
                },
                "required": [
                  "php_version"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/php-versions/available": {
      "get": {
        "tags": [
          "Server PHP"
        ],
        "summary": "List available PHP versions",
        "description": "Lists PHP versions available to install on the server. Plain language: 'which PHP versions can I install'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_php_versions_available",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/php-versions/patch-info": {
      "get": {
        "tags": [
          "Server PHP"
        ],
        "summary": "Get PHP patch info",
        "description": "Returns patch availability/info for installed PHP versions. Plain language: 'are there PHP patches available'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_php_versions_patch_info",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/php-versions/{version}/default": {
      "post": {
        "tags": [
          "Server PHP"
        ],
        "summary": "Set default PHP version",
        "description": "Sets a PHP version as the server default. Plain language: 'make PHP 8.3 the default'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_php_versions_version_default",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "PHP version, e.g. 8.3.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/php-versions/{version}/opcache": {
      "post": {
        "tags": [
          "Server PHP"
        ],
        "summary": "Toggle PHP OPcache",
        "description": "Enables or disables OPcache for a PHP version. Plain language: 'turn on opcache for PHP 8.3'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_php_versions_version_opcache",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "PHP version, e.g. 8.3.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "required"
                  }
                },
                "required": [
                  "enabled"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/php-versions/{version}/patch": {
      "post": {
        "tags": [
          "Server PHP"
        ],
        "summary": "Patch PHP version",
        "description": "Applies the latest patch to a PHP version (async — confirm via tasks). Plain language: 'patch PHP 8.3'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_php_versions_version_patch",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "description": "PHP version, e.g. 8.3.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/cron-jobs": {
      "get": {
        "tags": [
          "Server Cron"
        ],
        "summary": "List server cron jobs",
        "description": "Lists scheduled cron jobs at the server level. Plain language: 'show server cron jobs'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_cron_jobs",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Server Cron"
        ],
        "summary": "Create server cron job",
        "description": "Creates a server-level cron job. Plain language: 'add a cron job to this server'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_cron_jobs",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "OS user (required)"
                  },
                  "frequency": {
                    "type": "string",
                    "description": "required; 'custom' uses pattern"
                  },
                  "command": {
                    "type": "string",
                    "description": "required"
                  },
                  "pattern": {
                    "type": "string",
                    "description": "cron expression when frequency=custom"
                  }
                },
                "required": [
                  "user",
                  "frequency",
                  "command"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/cron-jobs/{cronJobUuid}": {
      "put": {
        "tags": [
          "Server Cron"
        ],
        "summary": "Update server cron job",
        "description": "Updates an existing server-level cron job. Plain language: 'change this server cron job'.\n\n**Scope:** `write:servers`",
        "operationId": "putservers_uuid_cron_jobs_cronJobUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cronJobUuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string"
                  },
                  "frequency": {
                    "type": "string"
                  },
                  "command": {
                    "type": "string"
                  },
                  "pattern": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Server Cron"
        ],
        "summary": "Delete server cron job",
        "description": "Deletes a server-level cron job. Plain language: 'remove this server cron job'.\n\n**Scope:** `write:servers`",
        "operationId": "deleteservers_uuid_cron_jobs_cronJobUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cronJobUuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/cron-jobs/{cronJobUuid}/execute": {
      "post": {
        "tags": [
          "Server Cron"
        ],
        "summary": "Run server cron job now",
        "description": "Triggers an immediate run of a server cron job. Plain language: 'run this cron job now'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_cron_jobs_cronJobUuid_execute",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cronJobUuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/cron-jobs/{cronJobUuid}/output": {
      "get": {
        "tags": [
          "Server Cron"
        ],
        "summary": "Get server cron job output",
        "description": "Returns the last output of a server cron job. Plain language: 'show the output of this cron job'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_cron_jobs_cronJobUuid_output",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cronJobUuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/databases": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "List databases",
        "description": "Lists databases on the server. Plain language: 'show databases on this server'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_databases",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Databases"
        ],
        "summary": "Create database",
        "description": "Creates a database on the server (keyed by name in body, not path UUID). Plain language: 'create a database'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_databases",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "database_name": {
                    "type": "string",
                    "description": "e.g. app_prod (required)"
                  }
                },
                "required": [
                  "database_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Databases"
        ],
        "summary": "Delete database",
        "description": "Deletes a database on the server (keyed by name in body). Plain language: 'delete this database'.\n\n**Scope:** `write:servers`",
        "operationId": "deleteservers_uuid_databases",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "database_name": {
                    "type": "string",
                    "description": "(required)"
                  }
                },
                "required": [
                  "database_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/databases/search": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "Search databases",
        "description": "Searches databases on the server by query. Plain language: 'find a database named X'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_databases_search",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/database-users": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "List database users",
        "description": "Lists database users on the server. Plain language: 'show database users'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_database_users",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Databases"
        ],
        "summary": "Create database user",
        "description": "Creates a database user with access to specified databases. Plain language: 'create a database user'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_database_users",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "(required)"
                  },
                  "password": {
                    "type": "string",
                    "description": "(required)"
                  },
                  "databases": {
                    "type": "array",
                    "items": {},
                    "description": "database names the user may access (required)"
                  }
                },
                "required": [
                  "username",
                  "password",
                  "databases"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Databases"
        ],
        "summary": "Update database user",
        "description": "Updates a database user's database access (keyed by username in body). Plain language: 'change this database user's access'.\n\n**Scope:** `write:servers`",
        "operationId": "putservers_uuid_database_users",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "(required)"
                  },
                  "databases": {
                    "type": "array",
                    "items": {},
                    "description": "(required)"
                  }
                },
                "required": [
                  "username",
                  "databases"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Databases"
        ],
        "summary": "Delete database user",
        "description": "Deletes a database user (keyed by username in body). Plain language: 'remove this database user'.\n\n**Scope:** `write:servers`",
        "operationId": "deleteservers_uuid_database_users",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "(required)"
                  }
                },
                "required": [
                  "username"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/database-users/search": {
      "get": {
        "tags": [
          "Databases"
        ],
        "summary": "Search database users",
        "description": "Searches database users on the server by query. Plain language: 'find a database user'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_database_users_search",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "description": "Search query.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/firewall-rules": {
      "get": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "List firewall rules",
        "description": "Lists firewall rules on the server. Plain language: 'show firewall rules'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_firewall_rules",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "Create firewall rule",
        "description": "Creates a firewall rule on the server. Plain language: 'open port 5432', 'allow traffic from an IP'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_firewall_rules",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "(required)"
                  },
                  "protocol": {
                    "type": "string",
                    "description": "tcp|udp (required)"
                  },
                  "traffic": {
                    "type": "string",
                    "description": "allow|deny (required)"
                  },
                  "port": {
                    "type": "string",
                    "description": "port number"
                  },
                  "ip_address": {
                    "type": "string",
                    "description": "optional source IP to scope the rule"
                  }
                },
                "required": [
                  "name",
                  "protocol",
                  "traffic"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/firewall-rules/{firewallRuleUuid}": {
      "delete": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "Delete firewall rule",
        "description": "Deletes a firewall rule by UUID. Plain language: 'remove this firewall rule'.\n\n**Scope:** `write:servers`",
        "operationId": "deleteservers_uuid_firewall_rules_firewallRuleUuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "firewallRuleUuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/firewall-rules/{firewallRuleUuid}/enable": {
      "post": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "Enable firewall rule",
        "description": "Enables a firewall rule. Plain language: 'turn on this firewall rule'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_firewall_rules_firewallRuleUuid_enable",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "firewallRuleUuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/firewall-rules/{firewallRuleUuid}/disable": {
      "post": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "Disable firewall rule",
        "description": "Disables a firewall rule. Plain language: 'turn off this firewall rule'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_firewall_rules_firewallRuleUuid_disable",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "firewallRuleUuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/fail2ban/banned-ips": {
      "get": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "List fail2ban banned IPs",
        "description": "Lists IPs currently banned by fail2ban. Plain language: 'show banned IPs'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_fail2ban_banned_ips",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "Ban IPs",
        "description": "Bans one or more IPs via fail2ban. Plain language: 'ban this IP'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_fail2ban_banned_ips",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ip_addresses": {
                    "type": "array",
                    "items": {},
                    "description": "IPs to ban (required)"
                  }
                },
                "required": [
                  "ip_addresses"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/fail2ban/banned-ips/{ip}": {
      "delete": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "Unban an IP",
        "description": "Unbans a single IP from fail2ban. Plain language: 'unban this IP'.\n\n**Scope:** `write:servers`",
        "operationId": "deleteservers_uuid_fail2ban_banned_ips_ip",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ip",
            "in": "path",
            "required": true,
            "description": "IP address.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/firewall/ssh-restriction-status": {
      "get": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "Get SSH restriction status",
        "description": "Returns the SSH IP-restriction status for the server. Plain language: 'is SSH restricted'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_firewall_ssh_restriction_status",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/firewall/whitelist-caller-ip": {
      "post": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "Whitelist caller IP",
        "description": "Whitelists the IP making the API call in the server firewall. Plain language: 'whitelist my IP'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_firewall_whitelist_caller_ip",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/firewall/whitelist-xcloud-ips": {
      "post": {
        "tags": [
          "Firewall & fail2ban"
        ],
        "summary": "Whitelist xCloud infra IPs",
        "description": "Whitelists xCloud infrastructure IPs in the server firewall. Plain language: 'whitelist xCloud IPs'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_firewall_whitelist_xcloud_ips",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/sudo-users": {
      "get": {
        "tags": [
          "Sudo Users"
        ],
        "summary": "List sudo users",
        "description": "Lists OS-level privileged (sudo) accounts on the server. Plain language: 'show sudo users'.\n\n**Scope:** `read:servers`",
        "operationId": "getservers_uuid_sudo_users",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Sudo Users"
        ],
        "summary": "Create or update sudo user",
        "description": "Creates or updates an OS-level sudo user. Supply username plus either SSH keys or a password. Private keys never returned. Plain language: 'add a sudo user'.\n\n**Scope:** `write:servers`",
        "operationId": "postservers_uuid_sudo_users",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "recommended"
                  },
                  "password": {
                    "type": "string",
                    "description": "optional"
                  },
                  "ssh_public_keys": {
                    "type": "array",
                    "items": {},
                    "description": "optional"
                  },
                  "is_temporary": {
                    "type": "boolean",
                    "description": "true provisions a short-lived account"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/servers/{uuid}/sudo-users/{sudo_user_uuid}": {
      "delete": {
        "tags": [
          "Sudo Users"
        ],
        "summary": "Delete sudo user",
        "description": "Deletes an OS-level sudo user by UUID. Plain language: 'remove this sudo user'.\n\n**Scope:** `write:servers`",
        "operationId": "deleteservers_uuid_sudo_users_sudo_user_uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "sudo_user_uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "List sites",
        "description": "Lists all sites; supports search to resolve a site UUID by domain. Plain language: 'show my sites', 'find the site for example.com'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search term; resolves a site UUID by domain.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Items per page (max 100).",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get site",
        "description": "Fetch a single site's details by UUID. Plain language: 'show me this site'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/status": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get site status",
        "description": "Returns the site's current status; go-to triage read with events. Plain language: 'is my site up', 'site status'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_status",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/events": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "List site events",
        "description": "Returns recent site events; used to confirm async writes. Plain language: 'what happened to my site recently'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_events",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/deployment-logs": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get deployment logs",
        "description": "Returns deployment logs for the site. Plain language: 'show deployment logs'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_deployment_logs",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/monitoring": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get site monitoring",
        "description": "Returns current monitoring metrics for the site. Plain language: 'site performance metrics'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_monitoring",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/monitoring/history": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get site monitoring history",
        "description": "Returns historical monitoring metrics for the site. Plain language: 'site metrics over time'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_monitoring_history",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/access-logs": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get access logs",
        "description": "Returns web access logs for the site. Plain language: 'show access logs', 'who's hitting my site'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_access_logs",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/git": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get git repo info",
        "description": "Returns the site's connected git repository info. Plain language: 'what repo is this site deploying from'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_git",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/snapshots": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "List site snapshots",
        "description": "Lists snapshots of the site. Plain language: 'show site snapshots'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_snapshots",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/staging-sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "List staging sites",
        "description": "Lists staging environments for the site. Plain language: 'show staging sites'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_staging_sites",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/custom-nginx": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get custom nginx config",
        "description": "Returns the site's custom nginx configuration. Plain language: 'show custom nginx config'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_custom_nginx",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
            "description": "Resource UUID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/sites/{uuid}/site-scripts": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get site scripts",
        "description": "Returns the site's deployment/site scripts. Plain language: 'show site scripts'.\n\n**Scope:** `read:sites`",
        "operationId": "getsites_uuid_site_scripts",
        "parameters": [
          {
            "name": "uuid",
            "in": "path",
            "required": true,
[...]
